@model IEnumerable<GearStore.Models.Product>

@{
    ViewBag.Title = "Danh sách SP";
}

<h2>Danh sách sản phẩm</h2>

<div class="block-products__list">
    @foreach (var item in Model)
    {
        <div class="block-products__list-item">
            <div class="product-card">
                <div class="product-card__image">
                    <a href="@Url.Action("Details","Products",new { id = item.ProductID})">
                        <img src="~/images/products/@item.PhotoFilePatch" />
                    </a>
                </div>
                <div class="product-card__info">
                    <div class="product-card__name"><a href="@Url.Action("Details","Products",new { id = item.ProductID})">@item.ProductName</a></div>
                    <div class="product-card__rating">
                        <div class="rating">
                            <div class="rating__body">
                                <svg class="rating__star rating__star--active" width="13px" height="12px">
                                    <g class="rating__fill"><use xlink:href="~/images/sprite.svg#star-normal"></use></g>
                                    <g class="rating__stroke"><use xlink:href="~/images/sprite.svg#star-normal-stroke"></use></g>
                                </svg>
                                <div class="rating__star rating__star--only-edge rating__star--active">
                                    <div class="rating__fill"><div class="fake-svg-icon"></div></div>
                                    <div class="rating__stroke"><div class="fake-svg-icon"></div></div>
                                </div>
                                <svg class="rating__star rating__star--active" width="13px" height="12px">
                                    <g class="rating__fill"><use xlink:href="~/images/sprite.svg#star-normal"></use></g>
                                    <g class="rating__stroke"><use xlink:href="~/images/sprite.svg#star-normal-stroke"></use></g>
                                </svg>
                                <div class="rating__star rating__star--only-edge rating__star--active">
                                    <div class="rating__fill"><div class="fake-svg-icon"></div></div>
                                    <div class="rating__stroke"><div class="fake-svg-icon"></div></div>
                                </div>
                                <svg class="rating__star" width="13px" height="12px">
                                    <g class="rating__fill"><use xlink:href="~/images/sprite.svg#star-normal"></use></g>
                                    <g class="rating__stroke"><use xlink:href="~/images/sprite.svg#star-normal-stroke"></use></g>
                                </svg>
                                <div class="rating__star rating__star--only-edge">
                                    <div class="rating__fill"><div class="fake-svg-icon"></div></div>
                                    <div class="rating__stroke"><div class="fake-svg-icon"></div></div>
                                </div>
                                <svg class="rating__star" width="13px" height="12px">
                                    <g class="rating__fill"><use xlink:href="~/images/sprite.svg#star-normal"></use></g>
                                    <g class="rating__stroke"><use xlink:href="~/images/sprite.svg#star-normal-stroke"></use></g>
                                </svg>
                                <div class="rating__star rating__star--only-edge">
                                    <div class="rating__fill"><div class="fake-svg-icon"></div></div>
                                    <div class="rating__stroke"><div class="fake-svg-icon"></div></div>
                                </div>
                                <svg class="rating__star" width="13px" height="12px">
                                    <g class="rating__fill"><use xlink:href="~/images/sprite.svg#star-normal"></use></g>
                                    <g class="rating__stroke"><use xlink:href="~/images/sprite.svg#star-normal-stroke"></use></g>
                                </svg>
                                <div class="rating__star rating__star--only-edge">
                                    <div class="rating__fill"><div class="fake-svg-icon"></div></div>
                                    <div class="rating__stroke"><div class="fake-svg-icon"></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="product-card__rating-legend">4 Reviews</div>
                    </div>
                    <ul class="product-card__features-list">
                        <li>Speed: 750 RPM</li>
                        <li>Power Source: Cordless-Electric</li>
                        <li>Battery Cell Type: Lithium</li>
                        <li>Voltage: 20 Volts</li>
                        <li>Battery Capacity: 2 Ah</li>
                    </ul>
                </div>
                <div class="product-card__actions">
                    <div class="product-card__availability">
                        Availability:
                        <span class="text-success">In Stock</span>
                    </div>
                    <div class="product-card__prices">@String.Format("{0:N0}", item.Price) VNĐ</div>
                    <div class="product-card__buttons">
                        <button class="btn btn-primary product-card__addtocart" type="button">Đặt hàng</button>
                        <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button">Add To Cart</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
