@{
    ViewBag.Title = "IsCheckout";
}

<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__title">
                <h1>Đã thanh toán</h1>
            </div>
        </div>
    </div>
</div>